.Input {
   background-color: rgba(0, 0, 0, 0);
   color: var(--color);
   margin: 0px 0 25px;
   padding: 5px 7px;
   background: #0a121c;
   border: none;
   border-radius: 4px;
   outline: 1px solid var(--primary-color);

   &:focus {
      outline: 2px solid var(--primary-color);
      box-shadow: 1px 1px 10px var(--primary-color);
   }
}