.TaskItem {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.priority {
   letter-spacing: 3px;
   margin-bottom: -10px;
}

.urgent {
   color: red;
}

.high {
   color: yellow;
}

.medium {
   color: blue;
}

.solo {
   font-size: 1rem;
   opacity: .5;
}

.coin {
   color: var(--primary-color);
   display: flex;
   align-items: center;
   gap: 12px;
}