.Button {
   padding: 7px 18px;
   border-radius: 7px;
   background-color: var(--primary-color);
   border: none;
   color: var(--color);
   font-size: 1.3rem;
   transition: .4s;
   cursor: pointer;

   &:hover {
      background-color: #5483fb;
   }
}